* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
}

/*  Everything related to the header video and it's overlays's customization are below  */

.v-header {
  height: 90vh;
  display: flex;
  align-items: center;
  color: white;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  margin: 0 !important;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 85vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 1;
  opacity: 0.55;
}

.header-content {
  z-index: 2;
}

.two-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.design-h {
  font-size: 3.6vw;
}

.design-p {
  font-size: 1.2vw;
}

/* --------------------------------------------------  */

/* custom buttons on the top main page picture */
.pinky-button {
  background-color: #ff3366;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 65px;
  margin-right: 0 10px 0 10px;
  border-radius: 99px;
}

.custom-button {
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  margin: 0 10px 0 10px;
  height: 65px;
  border-radius: 99px;
}
/*                               */

/*  navbar related edits  */
.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
  color: white;
}

.signup-button-border {
  display: flex;
  overflow: visible;
  align-items: center;
  padding: 2px 21px !important;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 51, 102);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 40px 0px;
  text-decoration: none;
  transition: color 200ms ease-in-out 0s, fill;
  cursor: pointer;
}

.signup-text {
  font-size: 14px;
  letter-spacing: 0px;
  font-family: "Aktiv Grotesk", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.12;
  margin: 0px;
  color: inherit;
  text-align: center;
  font-weight: 500;
}

.navTog {
  outline: none;
  border: none;
  background: red;
  padding: 0px !important;
  margin: 0 !important;
}
.navTog:focus {
  outline: none;
  border: none;
  background: none;
  padding: 0px !important;
  margin: 0 !important;
}

/*  =======================================  */

/* DropDown Menu Customizations */

.list-tags {
  color: rgb(74, 78, 87);
  font-size: 1rem;
  text-decoration: none;
}

.anchor-tags {
  color: rgb(74, 78, 87);
  font-size: 12px;
  text-decoration: none;
}

/*  =======================================  */

/*  Content Section Customizations  */

.col-text-centering-container {
  margin: 0 50px;
}

#col-text {
  font-size: 1.8vw;
}

.centering-paragraph-container {
  text-align: justify;
  align-self: center;
}

.freehandVideo {
  width: 100%;
  max-width: 100%;
}

.quotation {
  height: 24px;
  width: 30px;
}

.text-quote {
  font-size: 2.2vw;
  font-weight: 600;
  width: 50%;
}
#logo-svgs {
  width: 150px;
}

.purple-section-text {
  font-size: 1.6rem;
  width: 75%;
  margin: 0 auto;
  font-weight: 600;
  color: #c799fc;
}

.purple-section-anchor {
  font-size: 1.7rem;
  color: #ffffff;
  font-weight: 600;
}

.footer-copyright {
  font-size: 1rem;
}

.footer-copyright-text {
  margin: 0 50px;
}


@media only screen and (min-device-width: 1400px) {
  .nav-item {
    margin-right: 30px;
  }
}

@media only screen and (max-device-width: 980px) {
  .header-content {
    margin-top: 90px;
  }

  .two-buttons {
    display: flex !important;
    flex-direction: column !important;
  }

  .pinky-button {
    width: 40vw;
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
  }

  .custom-button {
    width: 40vw;
    font-size: 1.2rem;
    margin: 10px 0 10px 0;
  }

  .design-h {
    font-size: 1.5rem;
  }

  .design-p {
    font-size: 0.6rem;
  }

  .col-text-centering-container {
    margin: 0 0px;
  }

  #col-text {
    font-size: 24px;
  }

  .quote-picture-container {
    margin: 0 auto;
  }

  .text-quote {
    font-size: 5.5vw;
  }

  .quote-container {
    flex-direction: column !important;
  }

  #logo-svgs {
    width: 80px;
  }

  .purple-section-text {
    font-size: 24px;
    width: 75%;
    margin: 0 auto;
    font-weight: 600;
    color: #c799fc;
  }

  .purple-section-anchor {
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
  }

  .footer-copyright {
    flex-direction: column !important;
    margin: 0 auto;
    font-size: 1rem;
  }

  .sm-size-container {
    width: 100% !important;
  }
}


@media only screen and (max-width: 425px) {
  .pinky-button {
    width: 70%;
    font-size: 1rem;
  }

  .custom-button {
    width: 70%;
    font-size: 1rem;
  }
}